<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>AngularJS</title>
        <link type="text/css" rel="stylesheet" href="appbase.css">
    </head>
    <body class="wikidpad">
<span class="wikidpad parent-nodes">parent nodes: <span class="wikidpad parent-node"><a href="Ionic.html" class="wikidpad">Ionic</a></span> | <span class="wikidpad parent-node"><a href="Javascript.html" class="wikidpad">Javascript</a></span> | <span class="wikidpad parent-node"><a href="MVC%20Frameworks.html" class="wikidpad">MVC Frameworks</a></span><br class="wikidpad" /><br class="wikidpad" /></span>
<a name=".h0" class="wikidpad"></a><h2 class="wikidpad heading-level2">Angular JS</h2>
<span class="wikidpad property attribute">[camelCaseWordsEnabled: false]</span><br class="wikidpad" />
<br class="wikidpad" />
What is Angular JS? <br class="wikidpad" />
&gt; Javascript Framework for creating single page web applications<br class="wikidpad" />
&gt; A client-side Javascript Framework for adding interactivity to HTML<br class="wikidpad" />
<br class="wikidpad" />
Advantages:<br class="wikidpad" />
- Excellent templating engine<br class="wikidpad" />
- Handles DOM masterfully<br class="wikidpad" />
- Easy data manipulation<br class="wikidpad" />
<br class="wikidpad" />
MVC Architecture<br class="wikidpad" />
M: Models (data)<br class="wikidpad" />
V: Views (template)<br class="wikidpad" />
C: Controllers (link between models and views)<br class="wikidpad" />
<br class="wikidpad" />
Core features:<br class="wikidpad" />
- Directives (start with ng-)<br class="wikidpad" />
- Data binding<br class="wikidpad" />
- Filters<br class="wikidpad" />
- Modules<br class="wikidpad" />
- Routes<br class="wikidpad" />
- Controllers<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Installing Angular JS</b><br class="wikidpad" />
<br class="wikidpad" />
Go to <span class="wikidpad url-link"><a href="http://www.angularjs.org" class="wikidpad">http://www.angularjs.org</a></span> and download the library<br class="wikidpad" />
<br class="wikidpad" />
Angular JS must be added in the HEAD of your document<br class="wikidpad" />
<script src="lib/angular/angular.min.js"></script><br class="wikidpad" />
<br class="wikidpad" />
Then you must tell Angular which part of your HTML file you want Angular to control. To do that, add ng-app in the tag. More information here: <span class="wikidpad url-link"><a href="https://docs.angularjs.org/api/ng/directive/ngApp" class="wikidpad">https://docs.angularjs.org/api/ng/directive/ngApp</a></span><br class="wikidpad" />
<br class="wikidpad" />
&lt;html lang="en" ng-app&gt;<br class="wikidpad" />
<br class="wikidpad" />
Now we will have the most basic Angular app by adding this to our body:<br class="wikidpad" />
<br class="wikidpad" />
&lt;input type="text" ng-model="name"&gt;<ul class="wikidpad normalindent">&lt;h2&gt;Welcome {{name}}&lt;/h2&gt;<br class="wikidpad" />
</ul>
More information about ng-model: <span class="wikidpad url-link"><a href="https://docs.angularjs.org/api/ng/directive/ngModel" class="wikidpad">https://docs.angularjs.org/api/ng/directive/ngModel</a></span><br class="wikidpad" />
<br class="wikidpad" />
Basically, ng-model is binding the data from the input field into the template {{name}} is acting as a template<br class="wikidpad" />
<br class="wikidpad" />
Create a new folder called js with a file called controllers.js<br class="wikidpad" />
<br class="wikidpad" />
controllers.js will contain:<br class="wikidpad" />
var myApp = angular.module('myApp', []); //[dependancies], this particular project does not have any<br class="wikidpad" />
<br class="wikidpad" />
Now we need to update our HTML:<br class="wikidpad" />
&lt;html lang="en" ng-app="myApp"&gt;<br class="wikidpad" />
<br class="wikidpad" />
Now we need to create our controller in controllers.js. This is a piece of JavaScript code that's going to control something on the page. <br class="wikidpad" />
<br class="wikidpad" />
You can create different controllers and tell them to control different parts of your application.<br class="wikidpad" />
<br class="wikidpad" />
So we'll do this inside the myApp variable that we just created. We use the controller method. In there we're going to give this controller a name. We'll call it MyController. This is going to have a function. This function is going to be MyController. That function is going to receive a variable called scope. We're also asking that the controller use something called scope. This is like a super variable that you can use to pass things from your JavaScript to your application and template, and vice-versa. <br class="wikidpad" />
<br class="wikidpad" />
<br class="wikidpad" />
myApp.controller('MyController', function MyController($scope){<ul class="wikidpad normalindent">/*We are creating the model manually*/<br class="wikidpad" />
<br class="wikidpad" />
$scope.author = {<ul class="wikidpad normalindent">'name': 'Claudie Larouche',<br class="wikidpad" />
'title': 'President of the world',<br class="wikidpad" />
'company': 'Claudie Web Design'</ul>
}</ul>
});<br class="wikidpad" />
<br class="wikidpad" />
Then we update our body in HTML:<br class="wikidpad" />
<br class="wikidpad" />
&lt;body&gt;<ul class="wikidpad normalindent">&lt;div ng-controller = 'MyController'&gt;</ul>
<ul class="wikidpad normalindent">&lt;h1&gt;{{author.name}}&lt;/h1&gt;<br class="wikidpad" />
&lt;p&gt;{{author.title + ', ' + author.company}}&lt;/p&gt;</ul>
<ul class="wikidpad normalindent">&lt;/div&gt;</ul>
&lt;/body&gt;<br class="wikidpad" />
<br class="wikidpad" />
To loop through elements in an array, use ng-repeat:<br class="wikidpad" />
<br class="wikidpad" />
&lt;div class="main" ng-controller = "MyController"&gt;<ul class="wikidpad normalindent">&lt;ul class="artistlist"&gt;<ul class="wikidpad normalindent">&lt;li class="artist cf" ng-repeat="item in artists"&gt;<ul class="wikidpad normalindent">&lt;img src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}"&gt;<br class="wikidpad" />
&lt;div class="info"&gt;<ul class="wikidpad normalindent">&lt;h2&gt;{{item.name}}&lt;/h2&gt;<br class="wikidpad" />
&lt;h3&gt;{{item.reknown}}&lt;/h3&gt;</ul>
&lt;/div&gt;</ul>
&lt;/li&gt;</ul>
&lt;/ul&gt;</ul>
&lt;/div&gt;<br class="wikidpad" />
<br class="wikidpad" />
More about ng-repeat: <span class="wikidpad url-link"><a href="https://docs.angularjs.org/api/ng/directive/ngRepeat" class="wikidpad">https://docs.angularjs.org/api/ng/directive/ngRepeat</a></span><br class="wikidpad" />
<br class="wikidpad" />
Right now we have an error because of the image tag, we need to use a special image tag specific to Angular with ng-src (more information here: <span class="wikidpad url-link"><a href="https://docs.angularjs.org/api/ng/directive/ngSrc" class="wikidpad">https://docs.angularjs.org/api/ng/directive/ngSrc</a></span><br class="wikidpad" />
<br class="wikidpad" />
<img ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{item.name}}"><br class="wikidpad" />
<br class="wikidpad" />
Now we have no more error!<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Loading data from a JSON file</b><br class="wikidpad" />
<br class="wikidpad" />
To load data from a JSON file in Angular, we will use something called a "service"<br class="wikidpad" />
<br class="wikidpad" />
<span class="wikidpad url-link"><a href="https://docs.angularjs.org/api/ng/service" class="wikidpad">https://docs.angularjs.org/api/ng/service</a></span><br class="wikidpad" />
<br class="wikidpad" />
We simply need to change our controller:<br class="wikidpad" />
<br class="wikidpad" />
myApp.controller('MyController', function MyController($scope, $http){<ul class="wikidpad normalindent">/*We are creating the model manually*/<br class="wikidpad" />
<br class="wikidpad" />
$http.get('js/data.json').success(function(data){<ul class="wikidpad normalindent">$scope.artists = data;</ul>
});</ul>
});<br class="wikidpad" />
<br class="wikidpad" />
And that's it! However now our code has stopped working on a local machine, it must now be hosted on Bluehost (although it might work in Firefox, I haven't tested it)<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Minification</b><br class="wikidpad" />
<br class="wikidpad" />
You must put your scope and html variables into an array if you ever plan on doing minification (otherwise it won't work, god knows why)<br class="wikidpad" />
<br class="wikidpad" />
myApp.controller('MyController', ['$scope', '$http', function ($scope, $http){<ul class="wikidpad normalindent">/*We are creating the model manually*/<br class="wikidpad" />
<br class="wikidpad" />
$http.get('js/data.json').success(function(data){<ul class="wikidpad normalindent">$scope.artists = data;</ul>
});</ul>
}]);<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Filters</b><br class="wikidpad" />
<br class="wikidpad" />
Example: <br class="wikidpad" />
<h2>{{item.name | uppercase}}</h2> <br class="wikidpad" />
<br class="wikidpad" />
This will make all the names uppercase<br class="wikidpad" />
<br class="wikidpad" />
More info about filters: <span class="wikidpad url-link"><a href="https://docs.angularjs.org/api/ng/filter" class="wikidpad">https://docs.angularjs.org/api/ng/filter</a></span><br class="wikidpad" />
<br class="wikidpad" />
Another example:<br class="wikidpad" />
<li class="artist cf" ng-repeat="item in artists | limitTo: 5"><br class="wikidpad" />
<br class="wikidpad" />
Will limit the number of returned elements to 5<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Bind filter to data</b><br class="wikidpad" />
<br class="wikidpad" />
Now we are adding a search box in HTML:<br class="wikidpad" />
&lt;div class="search"&gt;<ul class="wikidpad normalindent">&lt;h1&gt;Artist Directory&lt;/h1&gt;<br class="wikidpad" />
&lt;label&gt;search: &lt;/label&gt;<br class="wikidpad" />
&lt;input placeholder="Search for artists" autofocus&gt;</ul>
&lt;/div&gt;<br class="wikidpad" />
<br class="wikidpad" />
To bind the data with the search, all we have to do is to create a model on the input field:<br class="wikidpad" />
<br class="wikidpad" />
&lt;input ng-model="query" placeholder="Search for artists" autofocus&gt;<br class="wikidpad" />
<br class="wikidpad" />
Then we add a filter to the li to link it with our model<br class="wikidpad" />
<br class="wikidpad" />
&lt;li class="artist cf" ng-repeat="item in artists | filter: query"&gt;<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Sorting</b><br class="wikidpad" />
<br class="wikidpad" />
I just added an option box in HTML for the sorting:<br class="wikidpad" />
&lt;label class="formgroup"&gt;by: <ul class="wikidpad normalindent">&lt;select ng-model="artistOrder"&gt;<ul class="wikidpad normalindent">&lt;option value="name"&gt;Name&lt;/option&gt;<br class="wikidpad" />
&lt;option value="reknown"&gt;Reknown&lt;/option&gt;</ul>
&lt;/select&gt;</ul>
&lt;/label&gt;    <br class="wikidpad" />
<br class="wikidpad" />
Don't forget the ng-model too. And then I add the sort by code in the li:<br class="wikidpad" />
<br class="wikidpad" />
&lt;li class="artist cf" ng-repeat="item in artists | filter: query | orderBy: artistOrder"&gt;<br class="wikidpad" />
<br class="wikidpad" />
And now why not add the sort direction?<br class="wikidpad" />
<br class="wikidpad" />
&lt;label class="formgroup"&gt;<ul class="wikidpad normalindent">&lt;input type="radio" ng-model="direction" name="direction" checked&gt;<br class="wikidpad" />
ascending</ul>
&lt;/label&gt;<br class="wikidpad" />
&lt;label class="formgroup"&gt;<ul class="wikidpad normalindent">&lt;input type="radio" ng-model="direction" name="direction" value="reverse"&gt;<br class="wikidpad" />
descending</ul>
&lt;/label&gt;<br class="wikidpad" />
<br class="wikidpad" />
<li class="artist cf" ng-repeat="item in artists | filter: query | orderBy: artistOrder:direction"><br class="wikidpad" />
<br class="wikidpad" />
To make sure that "Name" is automatically selected in the order by, add artistOrder in your controller:<br class="wikidpad" />
<br class="wikidpad" />
myApp.controller('MyController', ['$scope', '$http', function ($scope, $http){<ul class="wikidpad normalindent">/*We are creating the model manually*/<br class="wikidpad" />
<br class="wikidpad" />
$http.get('js/data.json').success(function(data){<ul class="wikidpad normalindent">$scope.artists = data;<br class="wikidpad" />
$scope.artistOrder = 'name';</ul>
});	</ul>
}]);<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Routeprovider</b><br class="wikidpad" />
<br class="wikidpad" />
More information: <span class="wikidpad url-link"><a href="https://docs.angularjs.org/api/ngRoute/provider/$routeProvider" class="wikidpad">https://docs.angularjs.org/api/ngRoute/provider/$routeProvider</a></span><br class="wikidpad" />
<br class="wikidpad" />
In order to make this work, we will need an additional module: <span class="wikidpad url-link"><a href="https://code.angularjs.org/1.3.14/" class="wikidpad">https://code.angularjs.org/1.3.14/</a></span><br class="wikidpad" />
<br class="wikidpad" />
We need angular-route.min.js, save it in lib &gt; angular<br class="wikidpad" />
<br class="wikidpad" />
Add a call to it in your HTML (after angular):<br class="wikidpad" />
&lt;script src="lib/angular/angular-route.min.js"&gt;&lt;/script&gt;<br class="wikidpad" />
<br class="wikidpad" />
Now we will create a new folder called "partials"<br class="wikidpad" />
<br class="wikidpad" />
create a new file called list.html<br class="wikidpad" />
<br class="wikidpad" />
For the rest, maybe you should just look at the final state of the application...<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Animation</b><br class="wikidpad" />
<br class="wikidpad" />
Angular JS has all sorts of animations, see here: <span class="wikidpad url-link"><a href="https://docs.angularjs.org/guide/animations" class="wikidpad">https://docs.angularjs.org/guide/animations</a></span><br class="wikidpad" />
<br class="wikidpad" />
First, we need to download additional modules: angular-animate.min.js<br class="wikidpad" />
<br class="wikidpad" />
You must add this module as a dependency on your controllers<br class="wikidpad" />
<br class="wikidpad" />
Add animate to something on your page:<br class="wikidpad" />
<br class="wikidpad" />
&lt;li ng-animate="'animate'" class="artist cf" ng-repeat="item in artists | filter: query | orderBy: artistOrder:direction"&gt;<br class="wikidpad" />
<br class="wikidpad" />
add the following to CSS:<br class="wikidpad" />
.artist.ng-enter.ng-enter-active,<br class="wikidpad" />
.artist.ng-leave{<ul class="wikidpad normalindent">opacity: 1;<br class="wikidpad" />
height: 80px;<br class="wikidpad" />
overflow: hidden;</ul>
<ul class="wikidpad normalindent">}<br class="wikidpad" />
<br class="wikidpad" />
</ul>
.artist.ng-leave.ng-leave-active,<br class="wikidpad" />
.artist.ng-enter{<ul class="wikidpad normalindent">opacity: 0;<br class="wikidpad" />
height: 0;<br class="wikidpad" />
overflow: hidden;</ul>
<ul class="wikidpad normalindent">}<br class="wikidpad" />
</ul>
<b class="wikidpad">Hiding data by default</b><br class="wikidpad" />
<br class="wikidpad" />
We will use ngshow: <span class="wikidpad url-link"><a href="https://docs.angularjs.org/api/ng/directive/ngShow" class="wikidpad">https://docs.angularjs.org/api/ng/directive/ngShow</a></span><br class="wikidpad" />
<br class="wikidpad" />
<a name=".h7701" class="wikidpad"></a><h3 class="wikidpad heading-level3">AngularJS training from codeschool</h3>
If you're using Javascript to create a dynamic website, Angular is a good choice.<br class="wikidpad" />
<br class="wikidpad" />
- Angular helps you organize your Javascript<br class="wikidpad" />
- Angular helps create fast websites<br class="wikidpad" />
- Angular plays well with jQuery<br class="wikidpad" />
- Angular is easy to test<br class="wikidpad" />
<br class="wikidpad" />
Normal website workflow<br class="wikidpad" />
<br class="wikidpad" />
1) Browser send URL request to Server<br class="wikidpad" />
2) Server responds with Webpage and Assets (HTML, Javascript)<br class="wikidpad" />
3) User clicks on a link. New request to the server<br class="wikidpad" />
4) Server respons with Webpage and Assets (HTML, Javascript)<br class="wikidpad" />
<br class="wikidpad" />
With Angular:<br class="wikidpad" />
<br class="wikidpad" />
1) Browser send URL request to Server<br class="wikidpad" />
2) Server responds with Webpage and Assets (HTML, Javascript)<br class="wikidpad" />
3) User clicks on a link. New request to the server<br class="wikidpad" />
4) Server respons with JSON Data which will then be loaded into the existing page<br class="wikidpad" />
<br class="wikidpad" />
In the course, we will be building a front-end app using Angular, which will be talking to a back-end app. But we won't be building the back-end app.<br class="wikidpad" />
<br class="wikidpad" />
In Angular, we add behaviour to our HTML through Directives<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Directives</b><br class="wikidpad" />
<br class="wikidpad" />
A Directive is a marker on a HTML tag that tells Angular to run or reference some Javascript code<br class="wikidpad" />
<br class="wikidpad" />
index.html<br class="wikidpad" />
&lt;!DOCTYPE html&gt;<br class="wikidpad" />
&lt;html&gt;<ul class="wikidpad normalindent">&lt;body ng-controller="StoreController"&gt; &lt;!-- Add this Directive ... --&gt;<br class="wikidpad" />
&lt;/body&gt;</ul>
&lt;/html&gt;<br class="wikidpad" />
<br class="wikidpad" />
app.js<br class="wikidpad" />
function StoreController(){  /*same name as ng-controller*/<ul class="wikidpad normalindent">alert('Welcome, Greg!');</ul>
}<br class="wikidpad" />
<br class="wikidpad" />
BUT, you would never actually write the angular code this way. This is just to understand the relationship between ng-controller and the function names.<br class="wikidpad" />
<br class="wikidpad" />
Possible directives:<br class="wikidpad" />
- ng-app<br class="wikidpad" />
- ng-bind<br class="wikidpad" />
- ng-blur<br class="wikidpad" />
- ng-change<br class="wikidpad" />
- ng-class<br class="wikidpad" />
- ng-click<br class="wikidpad" />
- ng-copy<br class="wikidpad" />
- ng-dblclick<br class="wikidpad" />
- ng-disabled<br class="wikidpad" />
- ng-focus<br class="wikidpad" />
- ng-hide<br class="wikidpad" />
- ng-href<br class="wikidpad" />
- ng-if<br class="wikidpad" />
- ng-include<br class="wikidpad" />
- ng-init<br class="wikidpad" />
- ng-keydown<br class="wikidpad" />
- ng-keypress<br class="wikidpad" />
- ng-keyup<br class="wikidpad" />
- ng-model<br class="wikidpad" />
- ng-mouseenter<br class="wikidpad" />
- ng-mouseleave<br class="wikidpad" />
- ng-mousemove<br class="wikidpad" />
- ng-mouseover<br class="wikidpad" />
- ng-paste<br class="wikidpad" />
- ng-repeat<br class="wikidpad" />
- ng-style<br class="wikidpad" />
- ng-switch<br class="wikidpad" />
- ng-transclude<br class="wikidpad" />
... (there are over 50 of them)<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Modules</b><br class="wikidpad" />
<br class="wikidpad" />
- Modules are where we write pieces of our Angular application<br class="wikidpad" />
- Makes our code more maintainable, testable and readable<br class="wikidpad" />
- Where we define dependencies of our app<br class="wikidpad" />
<br class="wikidpad" />
var app = angular.module('store', []);<br class="wikidpad" />
<br class="wikidpad" />
angular = angularJS<br class="wikidpad" />
store = Application name<br class="wikidpad" />
[] = dependencies<br class="wikidpad" />
<br class="wikidpad" />
This will be in app.js<br class="wikidpad" />
<br class="wikidpad" />
Next we add ng-app = "store" in our HTML tag:<br class="wikidpad" />
&lt;html ng-app="store"&gt;<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Expressions</b><br class="wikidpad" />
<br class="wikidpad" />
<span class="wikidpad url-link"><a href="https://docs.angularjs.org/guide/expression" class="wikidpad">https://docs.angularjs.org/guide/expression</a></span><br class="wikidpad" />
<br class="wikidpad" />
Allow you to insert dynamic values into your HTML<br class="wikidpad" />
<br class="wikidpad" />
Numerical Operations:<br class="wikidpad" />
&lt;p&gt;<ul class="wikidpad normalindent">I am {{4+6}}</ul>
&lt;/p&gt;<br class="wikidpad" />
<br class="wikidpad" />
String Operations:<br class="wikidpad" />
&lt;p&gt;<ul class="wikidpad normalindent">{{"Hello " + "you"}}</ul>
&lt;/p&gt;<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Controllers</b><br class="wikidpad" />
<br class="wikidpad" />
Help us put data into the page. Controllers are where we define our app's behaviour by defining functions and values.<br class="wikidpad" />
<br class="wikidpad" />
A good practice is to wrap our app.js code into a closure, and then we specify the name of the controller, in this case, StoreController:<br class="wikidpad" />
<br class="wikidpad" />
(function(){<ul class="wikidpad normalindent">var app = angular.module('store', []);<br class="wikidpad" />
<br class="wikidpad" />
app.controller('StoreController', function(){<ul class="wikidpad normalindent">this.product = gem; //Product is a property of the controller</ul>
});<br class="wikidpad" />
<br class="wikidpad" />
var gem = {<ul class="wikidpad normalindent">name: 'Dodecahedron',<br class="wikidpad" />
price: 2.95,<br class="wikidpad" />
description: 'description of the gem',</ul>
}</ul>
})();<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Other directives</b><br class="wikidpad" />
<br class="wikidpad" />
ng-show: &lt;button ng-show="store.product.canPurchase"&gt;Add to cart&lt;/button&gt; <br class="wikidpad" />
The button will appear only if canPurchase is true<br class="wikidpad" />
<br class="wikidpad" />
ng-hide: <br class="wikidpad" />
&lt;div ng-hide="store.product.soldOut"&gt;...&lt;/div&gt;<br class="wikidpad" />
div will be hidden if soldOut is true<br class="wikidpad" />
<br class="wikidpad" />
ng-repeat:<br class="wikidpad" />
&lt;div ng-repeat="product in store.products"&gt; <ul class="wikidpad normalindent">&lt;h1&gt;{{product.name}}</h1><br class="wikidpad" />
&lt;h2&gt;${{product.price}}</h2><br class="wikidpad" />
&lt;p&gt;{{product.description}}</p><br class="wikidpad" />
&lt;!--button will show only if canPurchase is true--&gt;<br class="wikidpad" />
&lt;button ng-show="product.canPurchase"&gt;Add to cart</button> </ul>
&lt;/div&gt;<br class="wikidpad" />
Iterate through every items in store.products and show on the screen<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Filters</b><br class="wikidpad" />
<br class="wikidpad" />
Example: &lt;em class="pull-right"&gt;{{product.price | currency}}</em><br class="wikidpad" />
<br class="wikidpad" />
Basically the format is the following: {{data | filter:options}}<br class="wikidpad" />
<br class="wikidpad" />
Examples:<br class="wikidpad" />
{{'1388123412323' | date: 'MM/dd/yyyy @ h:mma'}} -&gt; 12/27/2013 @ 12:50AM<br class="wikidpad" />
<br class="wikidpad" />
{{'octagon gem' | uppercase}} -&gt; OCTAGON GEM (lowercase also exists)<br class="wikidpad" />
<br class="wikidpad" />
{{'My Description' | limitTo:8}} -&gt;My Descr (limits the number of characters). Can also be used to limit the number of items shown by ng-repeat<br class="wikidpad" />
<br class="wikidpad" />
&lt;li ng-repeat="product in store.products | orderBy:'-price'"&gt; (minus means reverse sort order)<br class="wikidpad" />
<br class="wikidpad" />
Different types of filter:<br class="wikidpad" />
<br class="wikidpad" />
currency: {{amount|currency:"USD$"}}<br class="wikidpad" />
date: {{startDate|date:'short'}}<br class="wikidpad" />
filter: repo in repos!filter:searchTerm<br class="wikidpad" />
json: {{repo|json}}<br class="wikidpad" />
limitTo: repo in repos|limitTo:10<br class="wikidpad" />
lowercase/uppercase: {{user.name|uppercase}}<br class="wikidpad" />
number: {{stars|number}}<br class="wikidpad" />
orderBy: repo in repos|filter:searchTerm|orderBy:'name'<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Tabs</b><br class="wikidpad" />
<br class="wikidpad" />
&lt;section ng-init="tab = 1"&gt;<ul class="wikidpad normalindent">&lt;ul class="nav nav-pills"&gt;<ul class="wikidpad normalindent">&lt;!-- if tab===1, class = active --&gt;<br class="wikidpad" />
&lt;li ng-class="{active:tab === 1}"&gt;<ul class="wikidpad normalindent">&lt;a href ng-click="tab = 1"&gt;Description&lt;/a&gt;</ul>
&lt;/li&gt;<br class="wikidpad" />
&lt;li ng-class="{active:tab === 2}"&gt;<ul class="wikidpad normalindent">&lt;a href ng-click="tab = 2"&gt;Specifications&lt;/a&gt;</ul>
&lt;/li&gt;<br class="wikidpad" />
&lt;li ng-class="{active:tab === 3}"&gt;<ul class="wikidpad normalindent">&lt;a href ng-click="tab = 3"&gt;Reviews&lt;/a&gt;</ul>
&lt;/li&gt;</ul>
&lt;/ul&gt;<br class="wikidpad" />
&lt;div class="panel" ng-show="tab === 1"&gt;<ul class="wikidpad normalindent">&lt;h4&gt;Description&lt;/h4&gt;<br class="wikidpad" />
&lt;p&gt;{{product.description}}&lt;/p&gt;</ul>
&lt;/div&gt;<br class="wikidpad" />
&lt;div class="panel" ng-show="tab === 2"&gt;<ul class="wikidpad normalindent">&lt;h4&gt;Specifications&lt;/h4&gt;<br class="wikidpad" />
&lt;p&gt;None yet&lt;/p&gt;</ul>
&lt;/div&gt;<br class="wikidpad" />
&lt;div class="panel" ng-show="tab === 3"&gt;<ul class="wikidpad normalindent">&lt;h4&gt;Reviews&lt;/h4&gt;<br class="wikidpad" />
&lt;p&gt;None yet&lt;/p&gt;</ul>
&lt;/div&gt;</ul>
&lt;/section&gt;<br class="wikidpad" />
<br class="wikidpad" />
This will basically show different divs depending which tab you click. This is known as 2-way data binding (this means that Expressions are re-evaluated when a property changes).<br class="wikidpad" />
<br class="wikidpad" />
Use ng-init to set the initial value<br class="wikidpad" />
<br class="wikidpad" />
This is apparently starting to get messy and we will move the logic outside of our HTML and into Angular. Basically you need to create a new Controller like this:<br class="wikidpad" />
<br class="wikidpad" />
app.controller('PanelController', function(){<ul class="wikidpad normalindent">this.tab = 1; //this replaces ng-init<br class="wikidpad" />
<br class="wikidpad" />
//this replaces ng-click="tab = 1"<br class="wikidpad" />
this.selectTab = function(setTab){<ul class="wikidpad normalindent">this.tab = setTab; </ul>
};<br class="wikidpad" />
<br class="wikidpad" />
//this replaces ng-class="{active:tab === 1}<br class="wikidpad" />
this.isSelected = function(checkTab){<ul class="wikidpad normalindent">return this.tab === checkTab;</ul>
};</ul>
});<br class="wikidpad" />
<br class="wikidpad" />
And your HTML should now look like this:<br class="wikidpad" />
&lt;section ng-init="tab = 1" ng-controller="PanelController as panel"&gt;<ul class="wikidpad normalindent">&lt;ul class="nav nav-pills"&gt;<ul class="wikidpad normalindent">&lt;!-- if tab===1, class = active --&gt;<br class="wikidpad" />
&lt;li ng-class="{active:panel.isSelected(1)}"&gt;<ul class="wikidpad normalindent">&lt;a href ng-click="panel.selectTab(1)"&gt;Description&lt;/a&gt;</ul>
&lt;/li&gt;<br class="wikidpad" />
&lt;li ng-class="{active:panel.isSelected(2)}"&gt;<ul class="wikidpad normalindent">&lt;a href ng-click="panel.selectTab(2)"&gt;Specifications&lt;/a&gt;</ul>
&lt;/li&gt;<br class="wikidpad" />
&lt;li ng-class="{active:panel.isSelected(3)}"&gt;<ul class="wikidpad normalindent">&lt;a href ng-click="panel.selectTab(3)"&gt;Reviews&lt;/a&gt;</ul>
&lt;/li&gt;</ul>
&lt;/ul&gt;<br class="wikidpad" />
&lt;div class="panel" ng-show="panel.isSelected(1)"&gt;<ul class="wikidpad normalindent">&lt;h4&gt;Description&lt;/h4&gt;<br class="wikidpad" />
&lt;p&gt;{{product.description}}&lt;/p&gt;</ul>
&lt;/div&gt;<br class="wikidpad" />
&lt;div class="panel" ng-show="panel.isSelected(2)"&gt;<ul class="wikidpad normalindent">&lt;h4&gt;Specifications&lt;/h4&gt;<br class="wikidpad" />
&lt;p&gt;None yet&lt;/p&gt;</ul>
&lt;/div&gt;<br class="wikidpad" />
&lt;div class="panel" ng-show="panel.isSelected(3)"&gt;<ul class="wikidpad normalindent">&lt;h4&gt;Reviews&lt;/h4&gt;<br class="wikidpad" />
&lt;p&gt;None yet&lt;/p&gt;</ul>
&lt;/div&gt;</ul>
&lt;/section&gt;<br class="wikidpad" />
<br class="wikidpad" />
/<b class="wikidpad">Forms</b>/<br class="wikidpad" />
<br class="wikidpad" />
We can use the directive ng-models to bind for element values to their properties, as such:<br class="wikidpad" />
&lt;h4&gt;Reviews&lt;/h4&gt;<br class="wikidpad" />
&lt;blockquote ng-repeat="review in product.reviews"&gt;<ul class="wikidpad normalindent">&lt;b&gt;Stars: {{review.star}}&lt;/b&gt;<br class="wikidpad" />
&lt;p&gt;{{review.body}}&lt;/p&gt;<br class="wikidpad" />
&lt;cite&gt;by: {{review.author}}&lt;/cite&gt;</ul>
&lt;/blockquote&gt;<br class="wikidpad" />
&lt;form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)"&gt;<ul class="wikidpad normalindent">&lt;blockquote&gt;<ul class="wikidpad normalindent">&lt;b&gt;Stars: {{reviewCtrl.review.stars}}&lt;/b&gt; &lt;!--binding this --&gt;<br class="wikidpad" />
&lt;p&gt;{{reviewCtrl.review.body}}&lt;/p&gt;<br class="wikidpad" />
&lt;cite&gt;by: {{reviewCtrl.review.author}}&lt;/cite&gt;</ul>
&lt;/blockquote&gt;<br class="wikidpad" />
&lt;h4&gt;Submit a review&lt;/h4&gt;<ul class="wikidpad normalindent">&lt;fieldset class="form-group"&gt;<ul class="wikidpad normalindent">&lt;!-- with this! --&gt;<br class="wikidpad" />
&lt;select ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" class="form-control" &gt; <ul class="wikidpad normalindent">&lt;option value=""&gt;Rate the Product&lt;/option&gt;</ul>
&lt;/select&gt;</ul>
&lt;/fieldset&gt;<br class="wikidpad" />
&lt;fieldset class="form-group"&gt;<ul class="wikidpad normalindent">&lt;textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"&gt;&lt;/textarea&gt;</ul>
&lt;/fieldset&gt;<br class="wikidpad" />
&lt;fieldset class="form-group"&gt;<ul class="wikidpad normalindent">&lt;input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="you@example.org" title="Email" /&gt;</ul>
&lt;/fieldset&gt;<br class="wikidpad" />
&lt;fieldset class="form-group"&gt;<ul class="wikidpad normalindent">&lt;input type="submit" class="btn btn-primary pull-right" value="Submit Review" /&gt;</ul>
&lt;/fieldset&gt;</ul>
</ul>
&lt;/form&gt;<br class="wikidpad" />
<br class="wikidpad" />
ng-submit allows us to call a function when the form is submitted.<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Form Validation</b><br class="wikidpad" />
<br class="wikidpad" />
Angular.js has great client side validations that we can use in our directives. The first thing we need to do is turn off HTML default validation with novalidate.<br class="wikidpad" />
<br class="wikidpad" />
Then add "required" to a few fields and add a condition so that the button actually submits only if the form is valid:<br class="wikidpad" />
&lt;form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid &amp;&amp; reviewCtrl.addReview(product)" novalidate&gt;<br class="wikidpad" />
<br class="wikidpad" />
Angular will add classes to your field depending if they are filled or not, and depending if they are valid or invalid. You can style each class differently to make it clear when a field is not valid. Here are the classes:<br class="wikidpad" />
- ng-pristine<br class="wikidpad" />
- ng-dirty<br class="wikidpad" />
- ng-valid<br class="wikidpad" />
- ng-invalid<br class="wikidpad" />
<br class="wikidpad" />
Angular can validate e-mails, urls and numbers:<br class="wikidpad" />
&lt;input type="e-mail" name="email"&gt;<br class="wikidpad" />
&lt;input type="url" name="homepage"&gt;<br class="wikidpad" />
&lt;input type="number" name="quantity"&gt;  You can even specify a min and max (min=1 max=10)<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Eliminating duplication</b><br class="wikidpad" />
<br class="wikidpad" />
Let's pretend the following two lines are needed in various places in our code:<br class="wikidpad" />
<br class="wikidpad" />
{{product.name}}<br class="wikidpad" />
&lt;em class="pull-right"&gt;${{product.price}}&lt;/em&gt;<br class="wikidpad" />
<br class="wikidpad" />
To eliminate this duplication, we can create HTML snippets.<br class="wikidpad" />
<br class="wikidpad" />
So we will pull this HTML and put it in product-title.html<br class="wikidpad" />
<br class="wikidpad" />
Then in index.html, we will use ng-include:<br class="wikidpad" />
<h3 ng-include="'product-title.html'"> <br class="wikidpad" />
&lt;!--we need the single quote because Angular is expecting a variable and we are actually sending a string--&gt;<br class="wikidpad" />
</h3><br class="wikidpad" />
<br class="wikidpad" />
We can actually write our own custom directive, as such:<br class="wikidpad" />
&lt;product-title&gt;&lt;/product-title&gt;<br class="wikidpad" />
<br class="wikidpad" />
But we will need more code behind the scenes to make this work.<br class="wikidpad" />
<br class="wikidpad" />
Why use directives? Because they can tell you a lot of information about your Angular Application. For example:<br class="wikidpad" />
<br class="wikidpad" />
&lt;div&gt;<ul class="wikidpad normalindent">&lt;book-cover&gt;&lt;/book-cover&gt;<br class="wikidpad" />
&lt;h4&gt;&lt;book-rating&gt;&lt;/book-rating&gt;</ul>
&lt;/div&gt;<br class="wikidpad" />
&lt;div&gt;<ul class="wikidpad normalindent">&lt;h3&gt;&lt;book-title&gt;&lt;/book-title&gt;&lt;/h3&gt;<br class="wikidpad" />
&lt;book-authors&gt;&lt;/book-authors&gt;</ul>
&lt;/div&gt;<br class="wikidpad" />
<br class="wikidpad" />
Template-expanding Directives are the simplest:<br class="wikidpad" />
- Define a custom tag or attribute that is expanded or replaced<br class="wikidpad" />
- Can include Controller logic, if needed<br class="wikidpad" />
<br class="wikidpad" />
Directives can also be used for:<br class="wikidpad" />
- Expressing complex UI<br class="wikidpad" />
- Calling events and registering event handlers<br class="wikidpad" />
- Reusing common components<br class="wikidpad" />
<br class="wikidpad" />
<br class="wikidpad" />
To create a custom Element directive:<br class="wikidpad" />
<br class="wikidpad" />
&lt;product-title&gt;&lt;/product-title&gt;<br class="wikidpad" />
<br class="wikidpad" />
The dash in HTML will translate to camelCase in Javascript<br class="wikidpad" />
<br class="wikidpad" />
app.directive('productTitle', function(){<ul class="wikidpad normalindent">return {        <ul class="wikidpad normalindent">//A configuration object defining how your directive will work<br class="wikidpad" />
restrict: 'E', //Type of directive (E for Element)<br class="wikidpad" />
templateUrl: 'product-title.html'</ul>
};    </ul>
});<br class="wikidpad" />
<br class="wikidpad" />
To create a custom Attribute directive:<br class="wikidpad" />
<br class="wikidpad" />
&lt;h3 product-title&gt;&lt;/h3&gt;<br class="wikidpad" />
<br class="wikidpad" />
app.directive('productTitle', function(){<ul class="wikidpad normalindent">return {        <ul class="wikidpad normalindent">//A configuration object defining how your directive will work<br class="wikidpad" />
restrict: 'A', //Type of directive (A for attribute)<br class="wikidpad" />
templateUrl: 'product-title.html'</ul>
};    </ul>
});<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Element directive vs Attribute directive</b><br class="wikidpad" />
<br class="wikidpad" />
Element directive:<br class="wikidpad" />
&lt;product-title&gt;&lt;/product-title&gt;<br class="wikidpad" />
<br class="wikidpad" />
Attribute directive:<br class="wikidpad" />
&lt;h3 product-title&gt;&lt;/h3&gt;<br class="wikidpad" />
<br class="wikidpad" />
Use Element directives for UI widgets and Attribute directives for mixin behavious like a tooltip.<br class="wikidpad" />
<br class="wikidpad" />
NOTE: Element and Attribute directives don't work locally (must upload file to server)<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Attaching Controllers to directives</b><br class="wikidpad" />
<br class="wikidpad" />
So basically what we did here is the following:<br class="wikidpad" />
1) Create a new element directive for product-panel<br class="wikidpad" />
2) remove the whole product section from index.html and remove the call to ng-controller<br class="wikidpad" />
3) Add the controller functions and alias to our new element directive, as such:<br class="wikidpad" />
app.directive('productPanels', function(){<ul class="wikidpad normalindent">return {        <ul class="wikidpad normalindent">//A configuration object defining how your directive will work<br class="wikidpad" />
restrict: 'E', //Type of directive (E for Element)<br class="wikidpad" />
templateUrl: 'product-panels.html',<br class="wikidpad" />
controller: function(){<ul class="wikidpad normalindent">this.tab = 1; //this replaces ng-init<br class="wikidpad" />
<br class="wikidpad" />
//this replaces ng-click="tab = 1"<br class="wikidpad" />
this.selectTab = function(setTab){<ul class="wikidpad normalindent">this.tab = setTab; </ul>
};<br class="wikidpad" />
<br class="wikidpad" />
//this replaces ng-class="{active:tab === 1}<br class="wikidpad" />
this.isSelected = function(checkTab){<ul class="wikidpad normalindent">return this.tab === checkTab;</ul>
};</ul>
},<br class="wikidpad" />
controllerAs: 'panel' //the alias</ul>
}; </ul>
}); <br class="wikidpad" />
4) Remove the controller from app.js<br class="wikidpad" />
5) Add the call to the directive in index.html: &lt;product-panels&gt;&lt;/product-panels&gt;<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Dependencies</b><br class="wikidpad" />
<br class="wikidpad" />
If our app.js becomes crowded, it's possible to split things into different modules. For example you can create a products.js by copying all three directives related to products into it. If you wrap it in a closure, you can use another variable called app which will be different from the one in app.js:<br class="wikidpad" />
<br class="wikidpad" />
products.js:<br class="wikidpad" />
<br class="wikidpad" />
(function(){<ul class="wikidpad normalindent">//because I included this in a different closure, this is a different app variable than app.js<br class="wikidpad" />
var app= angular.module('store-products',[]) <br class="wikidpad" />
<br class="wikidpad" />
app.directive('productDescription', function(){<ul class="wikidpad normalindent">...</ul>
}); <br class="wikidpad" />
<br class="wikidpad" />
app.directive('productSpecs', function(){<ul class="wikidpad normalindent">...</ul>
}); <br class="wikidpad" />
<br class="wikidpad" />
app.directive('productPanels', function(){<ul class="wikidpad normalindent">...</ul>
});<br class="wikidpad" />
</ul>
})(); <br class="wikidpad" />
<br class="wikidpad" />
We need to include this new product.js in index.html and add store-products as a dependency of the store module in app.js<br class="wikidpad" />
<br class="wikidpad" />
It is best to split Modules around functionality:<br class="wikidpad" />
- app.js - top-level module attached via ng-app<br class="wikidpad" />
- products.js - all the functionaility for products and ONLY products<br class="wikidpad" />
<br class="wikidpad" />
<b class="wikidpad">Services</b><br class="wikidpad" />
<br class="wikidpad" />
Services give your Controller additional functionality:<br class="wikidpad" />
- Fetching JSON data from a web service with $http<br class="wikidpad" />
- Logging messagaes to the JavaScript console with $log<br class="wikidpad" />
- Filtering and array with $filter<br class="wikidpad" />
<br class="wikidpad" />
The $http service is how we make an async request to a server<br class="wikidpad" />
- By using $http as a function with an options object:<ul class="wikidpad normalindent">$http({method: 'GET', url: '/products.json'});</ul>
- Or using one of the shortcut methods:<ul class="wikidpad normalindent">$http.get('/products.json'. {apiKey: 'myApiKey'});<br class="wikidpad" />
</ul>
Both return a Promise object with .success() and .error() //jquery course at codeschool has information about Promises<br class="wikidpad" />
<br class="wikidpad" />
If we tell $http to fetch JSON, the result will be automatically decoded into JavaScript objects and arrays<br class="wikidpad" />
<br class="wikidpad" />
Controller using a service:<br class="wikidpad" />
app.controller('ReviewController', ['$http', function($http){<ul class="wikidpad normalindent">... //service name is same as function argument</ul>
}]);<br class="wikidpad" />
<br class="wikidpad" />
If you need more than one:<br class="wikidpad" />
app.controller('ReviewController', ['$http', $log, function($http, $log){<ul class="wikidpad normalindent">... //service name is same as function argument</ul>
}]);<br class="wikidpad" />
<br class="wikidpad" />
Example of using http:<br class="wikidpad" />
<br class="wikidpad" />
(function(){<ul class="wikidpad normalindent">var app = angular.module('store', ['store-products']);<br class="wikidpad" />
<br class="wikidpad" />
app.controller('StoreController', ['$http', function($http){</ul>
<ul class="wikidpad normalindent">var store = this;<br class="wikidpad" />
//we need to initialize products to an empty arry since the page will render before our data returns from our get request below<br class="wikidpad" />
<br class="wikidpad" />
store.products = []; <br class="wikidpad" />
<br class="wikidpad" />
$http.get('/product.json').success(function(data){<ul class="wikidpad normalindent">//cannot use this.products = data because "this" is not the same thing inside this function<br class="wikidpad" />
store.products = data;</ul>
});<ul class="wikidpad normalindent">});   </ul>
</ul>
})();<br class="wikidpad" />
<br class="wikidpad" />
In addition to get() requests, $http can post(), put(), delete(), etc...<br class="wikidpad" />
<br class="wikidpad" />
$http.post('/path/resource.json', {param: value});<br class="wikidpad" />
$http.delete('/path/resource.json');<br class="wikidpad" />
<br class="wikidpad" />
...or any other http method by using a CONFIG object:<br class="wikidpad" />
<br class="wikidpad" />
$http({ method: 'OPTIONS, url: '/path/resource.json'});<br class="wikidpad" />
$http({ method: 'PATCH, url: '/path/resource.json'});<br class="wikidpad" />
$http({ method: 'TRACE, url: '/path/resource.json'});<br class="wikidpad" />
<br class="wikidpad" />
Other available services:<br class="wikidpad" />
- $http<br class="wikidpad" />
- $interval<br class="wikidpad" />
- $window<br class="wikidpad" />
- $timeout<br class="wikidpad" />
- $log (to use this service, simply do: $log.info("Starting the process");<br class="wikidpad" />
- $animate<br class="wikidpad" />
- $location<br class="wikidpad" />
- $browser<br class="wikidpad" />
- $window<br class="wikidpad" />
- $anchorScroll<br class="wikidpad" />
- etc.<br class="wikidpad" />
<br class="wikidpad" />
We typically don't use http service inside a controller, you'll typically create a separate .js file (see jquery &gt; angular &gt; service on Bluehost. The file is github.js)<br class="wikidpad" />
<br class="wikidpad" />
    </body>
</html>
